    * {
        box-sizing: border-box;
    }
  
    .treeTable {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr;
        grid-column-gap: 0px;
        grid-row-gap: 0px;
    }

    .tree {
        grid-area: 1 / 1 / 2 / 2;
        height: 450px;
        overflow-x: scroll;
        overflow-y: scroll;
    }
    
    .table {
        grid-area: 1 / 2 / 2 / 3;
        height: 450px;
        overflow-x: scroll;
        overflow-y: scroll;
    }

