
<!DOCTYPE html>
<html>

<body>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/themes/default/style.min.css" type="text/css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script> 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/jstree.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.5.1/highlight.min.js"></script>

    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid blue;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>


    <div id="table"></div>

    <link rel="stylesheet" href="./css/style.css">


    <!-- submit na tlacitko doprava -->
    <form id="nastaveni-form" method="POST" action="/buttRight">
        <input type="submit" id="subRight" value="buttRight">
    </form>

    
    <form id="nastaveni-form" method="POST" action="/buttLeft">
        <input type="submit" id="subLeft" value="buttLeft">
    </form>
  
    <script type="text/javascript" src="js/script.js"></script>
    


</body>
</html>


